


{% extends 'base.html' %}
{% block title3 %}Title: {{ topic.title }}{% endblock %}

{% block content %}
<p>Parent: {{ topic.parent }}</p>
{% endblock %}

{% block title %}Topic{% endblock %}
{% block title2 %}Topic{% endblock %}
{% block leftmenu %}
    <li><a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url "notebooks:topic-update" topic.pk %}">Update</a></li>
    <li><a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url "notebooks:topic-delete" topic.pk %}">Delete</a></li>
    <li><a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url "notebooks:topic-list" %}">Back to list</a></li>

{% endblock %}

{% block uppermenu %}
<li class="nav-item"><a class="nav-link" href="{% url 'notebooks:note-list' %}">Go To Notes</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'notebooks:topic-list' %}">Go To Topics</a></li>

     {% if user.is_authenticated %}
      
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account:logout' %}">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Welcome, {{user.username}}</a>
      </li>

      {% else %}

      <li class="nav-item">
        <a class="nav-link" href="{% url 'account:login' %}">Login</a>
      </li>

      {% endif %}
{% endblock %}

