{% extends 'base.html' %}
{% block title %}List of Topics{% endblock %}
{% block title2 %}List of Topics{% endblock %}
{% block leftmenu %}
    
    {% for topic in object_list %}
    <li><a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'notebooks:topic-detail' topic.pk %}">{{ topic.title }}</a></li>
    {% empty %}
    <li>No topics yet.</li>
    {% endfor %}
{% endblock %}
{% block uppermenu %}
<li class="nav-item active"><a class="nav-link" href="{% url 'notebooks:topic-add' %}">Add topic</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'notebooks:note-list' %}">Go To Notes</a></li>
     {% if user.is_authenticated %}
      
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account:logout' %}">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Welcome, {{user.username}}</a>
      </li>

      {% else %}

      <li class="nav-item">
        <a class="nav-link" href="{% url 'account:login' %}">Login</a>
      </li>

      {% endif %}
{% endblock %}
{% block title3 %}{% endblock %}
{% block content %}{% endblock %}

